Flask==3.0.2
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-WTF==1.2.1
fonttools==4.46.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
itsdangerous==2.1.2
Jinja2==3.1.3
kiwisolver==1.4.5
macholib==1.16.3
MarkupSafe==2.1.5
packaging==23.2
Pillow==10.1.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2024.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
six==1.16.0
SQLAlchemy==2.0.27
SQLAlchemy-serializer==1.4.1
typing_extensions==4.10.0
Werkzeug==3.0.1
whichcraft==0.6.1
WTForms==3.1.2
zope.event==5.0
zope.interface==6.1